@font-face{
	font-family: "EditorialNewItalic";
	src: url( "../fonts/PPEditorialNew-Italic.ttf") format("TrueType");
}

@font-face{
	font-family: "ProximaNova";
	src: url( "../fonts/ProximaNova-Regular.ttf") format("TrueType");
}
@font-face{
	font-family: "ProximaNova-Bold";
	src: url( "../fonts/ProximaNova-Bold.ttf") format("TrueType");
}
:root{
	--color-general: #EEEDEF;
	--color-rosado: #EACCE8; 
	--color-azul: #084679;
	--color-texto: #191717;
}

body{
	font-family: "ProximaNova", sans-serif;
	font-size: 16px;
	color: var(--color-texto);
	line-height: 1.8;
}
header{
	background-color: var(--color-general);
	color: var(--color-general);
	padding: 15px 0; 
}
header img{
	width: 80px;
}

#hero{
	background-color:var(--color-azul);
	padding:8% 0;
	text-align:center;
	}

#hero h1{
	font-weight: 600;
	font-size: 20px;
	color: var(--color-general);
	margin-top: 8%;
	text-align: center;
}

/*about*/
#about{
	background-color: var(--color-general);
	padding:4% 0;
	
} 
#about img{
	border-radius: 40px;
	width:360px;
	text-align: center;
}

.titulo{
	font-family: "EditorialNewItalic";
	font-size: 70px;
	padding-bottom: 2%;
	padding-top: 2%;
	color: var(--color-azul);
	text-align: center;
}  


p{
	font-family: "ProximaNova";
	font-size: 20px;
	color: var(--color-texto);
	font-weight: 250;
	margin-top: 80px;
	padding-left: 3%;
	padding-right: 3%;
	line-height: 1.5;
	text-align:justify;
}

#skills{
	font-family: "ProximaNova";
	background-color: var(--color-azul);
	padding:3% 0;
	
}
#skills h3{
	font-family: "ProximaNova-Bold";
	font-size: 40px;
	color: var(--color-general);
	text-align: center;
}
.icon{
	font-size: 100px;
	color: var(--color-rosado)
}

#illustrations{
	background-color:var(--color-general);
	padding:3% 0;
	
	
}
#projects{
	background-color:var(--color-general);
	padding:3% 0;
	
	
}
#projects img{
	border-radius: 40px;
	width:360px;
	
}

#projects h4{
	padding-top: 3%;
	font-family: "ProximaNova-Bold";
	font-size: 20px;
	
	color:var(--color-texto)
}

#posters{
	background-color:var(--color-general);
	padding:3% 0;
	
	
}
#posters img{
	
	width:400px;
	
}

#servicios{
	font-family: "ProximaNova";
	background-color: var(--color-azul);
	padding:3% 0;
	
}
#servicios h3{
	font-family: "ProximaNova-Bold";
	font-size: 40px;
	color: var(--color-general);
	text-align: center;
}
#contact{
	background-color: var(--color-rosado);
	padding:5% 0;
	
	
}
#contact h3{
	font-family: "ProximaNova-Bold";
	font-size: 40px;
	color: var(--color-azul);
	text-align: center;

}
#contact h4{
	padding-top: 3%;
	font-family: "ProximaNova-Bold";
	font-size: 15px;
	text-align: center;
	color:var(--color-texto);
		margin-top:40px;
}
.icon-contact{
	font-size: 80px;
	color: var(--color-azul);
	text-align: center;
	width: 130px;
	height:130px;
}








/*tablet*/

@media (min-width:600px) and (max-width: 1200px) { 

	
 }


/*celular*/
@media (max-width: 600px) { 
	
	#hero h1{
	font-size: 16px;
	}
	
	.titulo{
		font-size: 50px;
	}
	
	p{
		margin-top: 3%;
	}
	
	#about img{
		margin-left: 6%;
		width: 300px;
	}
	
	#projects img{
		margin-left: 8%;
		width: 300px;
	}
	
	#posters img{
		margin-left: 1%;
		margin-bottom: 5%;
		width: 300px;
	}
	

	#projects h4{
	padding-top: 3%;
	font-family: "ProximaNova-Bold";
	font-size: 18px;
		text-align: center;
}


 }
